/* CSS code for about page goes here */

body {
  background-color: #f8efe8;
  padding: 50px;
  overflow-y: scroll; 
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

 .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  font-size: 36px;
  height: 46px;
  overflow-x: hidden;
  color: #7796F2;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 32s linear infinite;
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

body{
  margin: 0;
  padding: 0;
  font-family: "PPHatton";
  color: black;
  border: #202124 solid 2px;
  border-top: none;
}

/* ----- dark mode style ----- */
.dark-mode {
  background-color: #202124;
  padding: 50px;
}

.dark-mode .grid-container > div {
  background-color: #202124;
  color: #f8efe8;
}

.dark-mode .grid-container {
  background-color: #f8efe8;
}




/* refer to https://www.w3schools.com/css/css_grid.asp for more on grids  */

.grid-container {
display: grid;

grid-template-columns: auto auto auto;
gap: 2px;
background-color: #202124; 
font-family: "PPHatton";
padding: 2px;
}

.grid-container > div {
background-color: #f8efe8; 
text-align: center;
padding: 40px 0;
font-size: 40px;
}



/* navBar includes about, contact and back buttons across all html pages */

.navBar {
display: grid;
grid-template-columns: auto auto auto;
gap: 2px;
background-color: #202124; 
font-family: "PPHatton";
padding: 2px;
}

.navBar > div {
background-color: #f8efe8;
text-align: center;
padding: 40px 0;
font-size: 40px;
}

/* positions dark mode button in navbar*/
.navBar .toggle{
grid-column-start: 6;  
grid-column-end: 7;
}

/* positions back button in navbar */
.navBar .back {
grid-column-start: 5;  
grid-column-end: 6;
 /* border-top-left-radius: 2cm; */

}

/* dark mode styling for navBar */
.dark-mode .navBar {
  background-color: #f8efe8; 

}

.dark-mode .navBar > div {
background-color: #202124;
color: #f8efe8;
text-align: center;
padding: 40px 0;
font-size: 40px;
}




/* ----- styling for back button interactions ----- */
.back:hover{
background-color:#4AD996;
background-image:
linear-gradient(
  #4ad996, #f8efe8
);

cursor: pointer;
}

.dark-mode .back:hover{
  color:#202124;
background-color:#4AD996;
background-image:
linear-gradient(
  #4ad996, #202124
);
cursor: pointer;
}


/* ----- postion and styling for about button -----  */
.about {
  grid-column-start: 1;  
  grid-column-end: 3;
}

/* light mode */
.about:hover{
  /* background-color:#c8d68b; */
  background-color: #7796F2;
  background-image:
  linear-gradient(
    #7796F2, #f8efe8
  );
  cursor: pointer;
}

/* dark mode */
.dark-mode .about:hover{

  background-color: #7796F2;
  background-image:
  linear-gradient(
    #7796F2, #202124
  );
  cursor: pointer;
  color: #202124;
}



/* stretches 'contact us' box */
.contact {
  grid-column-start: 3;  
  grid-column-end: 5;
   /* border-top-left-radius: 2cm; */
}

/* contact link hover state in light mode */
.contact:hover{
  /* background-color:#c0aeed; */

  /* syntax for linear gradient on hover */
  background-color: #F2A0DC;
  background-image:
    linear-gradient(
      #F2A0DC, #f8efe8
    );
  cursor: pointer;
}

/* contact link hover state in dark mode */
.dark-mode .contact:hover{
background-color: #F2A0DC;
background-image:
  linear-gradient(
    #F2A0DC, #202124
  );
  cursor: pointer;
}

.dark-mode .contact{
  background-color:#202124;
  cursor: pointer;
}

/* dark mode link hover state */
.toggle:hover{
  background-color: #202124;
  color: #f8efe8;
  cursor: pointer;
}

/* hover state to go back to light mode */    
.dark-mode .toggle:hover{
  background-color: #f8efe8;
  color: #202124;
  cursor: pointer;
  /* find out how to change the text or symbol from light mode to dark mode */
}


.container{
  position: relative;
  width: 1200px;
  height: 0px;
  margin: 50px auto;

}

.container .box{
  position: relative;
  width: calc(400px - 30px);
  height: calc(300px - 30px);
  background: #000;
  float: left;
  margin: 15px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
}

.container .box .icon{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FEB8C2;
  transition: .5s;
  z-index: 1;
}

.container .box:hover .icon{
  top: 25px;
  left: 150px;
  width: 80px;
  height: 80px;
  border-radius: 50%;

}

.container .box .icon .fa{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.5s;
  color: #fff;
  opacity: 0.7;
}

.container .box:hover .icon .fa{
  font-size: 40px;
}

.container .box .content{
  position: absolute;
  top:100%;
  height: calc(100% - 100px);
  padding: 20px;
  box-sizing: border-box;
  transition: 0.5s;
  opacity: 0;
}

.container .box:hover .content{
  top: 100px;
  opacity: 0.7;
}

.container .box .content h3{
  margin: 0 0 10px;
  padding: 0;
  color: #fff;
  font-size: 24px;
}

.container .box .content p{
  margin: 0 0 10px;
  padding: 0;
  color: #fff;
}

.container .box:nth-child(1).icon
{
  background: pink;
}

.container .box:nth-child(1)
{
  background: #7796F2;
}
