/* loads the font file */
@font-face {
    font-family: "PPHatton";
    src: url("PPHatton-Medium.otf") format("opentype");
    font-style: "medium";
  }

  @font-face {
    font-family: "PPHattonBold";
    src: url("PPHatton-Bold.otf") format("opentype");
    font-style: bold;
  }



/* general body styling, the stuff 'behind' the grid */

body {
    background-color: #f8efe8;
    padding: 50px;
  }

/* ----- dark mode style ----- */
.dark-mode {
    background-color: #202124;
    padding: 50px;
  }

.dark-mode .grid-container > div {
    background-color: #202124;
    color: #f8efe8;
  }

.dark-mode .grid-container {
    background-color: #f8efe8;
  }




/* refer to https://www.w3schools.com/css/css_grid.asp for more on grids  */

.grid-container {
  display: grid;

  grid-template-columns: auto auto auto;
  gap: 2px;
  background-color: #202124; 
  font-family: "PPHatton";
  padding: 2px;
}

.grid-container > div {
  background-color: #f8efe8; 
  text-align: center;
  padding: 40px 0;
  font-size: 40px;
}



/* navBar includes about, contact and back buttons across all html pages */

.navBar {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2px;
  background-color: #202124; 
  font-family: "PPHatton";
  padding: 2px;
}

.navBar > div {
  background-color: #f8efe8;
  text-align: center;
  padding: 40px 0;
  font-size: 40px;
}

/* positions dark mode button in navbar*/
.navBar .toggle{
  grid-column-start: 6;  
  grid-column-end: 7;
}

/* positions back button in navbar */
.navBar .back {
  grid-column-start: 5;  
  grid-column-end: 6;
   /* border-top-left-radius: 2cm; */

}

/* dark mode styling for navBar */
.dark-mode .navBar {
    background-color: #f8efe8; 

}

.dark-mode .navBar > div {
  background-color: #202124;
  color: #f8efe8;
  text-align: center;
  padding: 40px 0;
  font-size: 40px;
}




/* ----- styling for back button interactions ----- */
.back:hover{
  background-color:#c8d68b;
  cursor: pointer;
}

.dark-mode .back:hover{
  background-color:#c8d68b;
  cursor: pointer;
}


/* ----- postion and styling for about button -----  */
.about {
    grid-column-start: 1;  
    grid-column-end: 3;
  }

  /* light mode */
 .about:hover{
    /* background-color:#c8d68b; */
    background-color: #d5f379;
    cursor: pointer;
 }

 /* dark mode */
 .dark-mode .about:hover{
    background-color:#c8d68b;
    cursor: pointer;
 }



/* stretches 'contact us' box */
.contact {
    grid-column-start: 3;  
    grid-column-end: 5;
     /* border-top-left-radius: 2cm; */
  }

  /* contact link hover state in light mode */
 .contact:hover{


    /* syntax for linear gradient on hover */
    background-color: #c0aeed;
    background-image:
      linear-gradient(
        #c0aeed, #f8efe8
      );
    cursor: pointer;
 }


 /* contact link hover state in dark mode */
 .dark-mode .contact:hover{
    background-color: #c0aeed;
    background-image:
      linear-gradient(
        #c0aeed, #202124
      );
    cursor: pointer;
 }
 

 .dark-mode .contact{
    background-color:#202124;
    cursor: pointer;
 }









 /* dark mode link hover state */
 .toggle:hover{
    background-color: #202124;
    color: white;
    cursor: pointer;
 }

  /* hover state to go back to light mode */    
  .dark-mode .toggle:hover{
    background-color: #f8efe8;
    color: black;
    cursor: pointer;
    /* find out how to change the text or symbol from light mode to dark mode */
 }


  /* stretches box 02 */
.item02 {
    grid-column-start: 3;  
    grid-column-end: 5;
  }

.item1 {
    grid-column-end: 6;
  }


/* puts day 2 second last  */
.item2 {
    grid-column-end: 7;
    
  }




.item1:hover{
  /* syntax for linear gradient on hover */
  background-color: #c0aeed;
  background-image:
    linear-gradient(
      #c0aeed, #f8efe8
    );
}

.item2:hover{
  /* syntax for linear gradient on hover */
  background-color: #d5f379;
  background-image:
    linear-gradient(
      #d5f379, #f8efe8
    );
}






















/* day 9 on hover */
.item9:hover{
    background-color:#5e59c0;
    cursor: pointer;
 }

 /* day 9 on hover dark mode */
 .dark-mode .item9:hover{
    background-color:#5e59c0;
    cursor: pointer;
 }


/* day 10 on hover  */
.item10:hover{
    background-color:#ffa9da;
 }

 /* day 10 on hover dark mode*/
.dark-mode .item10:hover{
    background-color:#ffa9da;
    cursor: pointer;
 }

 /* day 11 on hover */
.item11:hover{
    background-color:#f6c425;
    cursor: pointer;
 }

 /* day 11 on hover dark mode */
.dark-mode .item11:hover{
    background-color:#f6c425;
    cursor: pointer;
 }
 


 


 /* STYLING FOR CONTACT FORM */

 #last{
  width: 100%;
  height: auto;
  justify-content: center;
  
  /* background-color: #ffb3b3; */
  }
  .full{
  width: 100%;
  /* display: inline-block; */
  /* margin:2%; */
  display: grid;
  /* padding: 2px; */
  /* margin-left: 10%; */
  text-align: center;
  /* background-color: black;*/
  background-color: #c0aeed;
    background-image:
      linear-gradient(
        #c0aeed, #f8efe8
      ); 
  color: white;
  /* border:15px solid orange; */
  /* border-radius: 5px;
  margin-bottom: 8%;
  margin-top: 8%; */
  }
  .full h3{
    font-family: "PPHatton";
  font-size: 40px;
  display:block;
  margin: 2%;
  margin-bottom: 0;
  }
  .lt{
  padding: 2%;
  margin: 2%;
  }
  .rt{
  padding: 2%;
  margin: 2%;
  }
  .lt textarea{
  width: 94%;
  margin-left: 2.8%;
  }
  button{
  margin: 2%;
  }
  .btn-primary{
  background-color: black;
  border: 2px solid white;
  border-radius: 5%;
  }
  .list-item{
  margin-bottom: 2%;
  list-style-type: none;
  }
  .list-item span{
  margin-left: 10px;
  font-size: 1.4rem;
  }
  .list-item a{
  color: white;
  display: inline-block;
  }
  .list-item a:hover{
  text-decoration: underline;
  }
  .form-control{
  background-color: black;
  }
      
  @media screen and (min-width: 770px){
  .full{
      width: 70%;
      margin-left: 15%;
  }
  .lt textarea{
  width: 95%;
  margin-left: 2.4%;
  }
  }
      
  @media screen and (min-width: 1100px){
  .full{
      width: 65%;
      margin-left: 17%;
      margin-top: 5%;
  }
  .lt{
      width: 55%;
      display: inline-block;
      /* float: left; */
      margin-right: 0;
  }
  .rt{
      width: 35%;
      display: inline-block;
      margin-left: 0;
  }
  .list-item{
  margin-bottom: 10%;
  }
  .contact-list{
      margin-top: 22%;
      padding-right: 8%;
  }
  .fa-envelope, .gmail{
      display: inline-block;
      width: auto;
  }
  }
  
