/* loads the font file */
@font-face {
    font-family: "PPHatton";
    src: url("PPHatton-Medium.otf") format("opentype");
    font-style: "medium";
  }

  @font-face {
    font-family: "PPHattonBold";
    src: url("PPHatton-Bold.otf") format("opentype");
    font-style: bold;
  }
/* general body styling, the stuff 'behind' the grid */

/* .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
} */

body {
    background-color: #f8efe8;
    padding: 50px;
  }


  .dark-mode {
    background-color: #202124;
    padding: 50px;
  }

/* dark mode style */
.dark-mode .grid-container > div {
    background-color: #202124;
    color: #f8efe8;
   
  }

/* changes grid lines from dark to light*/
.dark-mode .grid-container {
    background-color: #f8efe8;
  }


/* refer to https://www.w3schools.com/css/css_grid.asp for more on grids  */

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  /* gap: 20px; */
  gap: 2px;
  background-color: #202124; 

  font-family: "PPHatton";

  /* if we want curved edges try this   */
  /* border-color: black;
  border-radius: 0.5cm; */
  padding: 2px;
}

.grid-container > div {
  background-color: #f8efe8;
  text-align: center;
  padding: 40px 0;
  font-size: 40px;
  
  /* make all boxes curved */
  /* border-color: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 10cm; */
}


/* stretches 'about' box */
.about {
    grid-column-start: 1;  
    grid-column-end: 3;
     /* border-top-left-radius: 2cm; */
  
  }

  /* about link hover state in light mode */
 .about:hover{
    background-color:#c8d68b;
    cursor: pointer;
 }

 /* about link hover state in dark mode */
 .dark-mode .about:hover{
    background-color:#c8d68b;
    cursor: pointer;
 }



/* stretches 'contact us' box */
.contact {
    grid-column-start: 3;  
    grid-column-end: 5;
     /* border-top-left-radius: 2cm; */
  }

  /* contact link hover state in light mode */
 .contact:hover{
    /* background-color:#c0aeed; */

    /* syntax for linear gradient on hover */
    background-color: #c0aeed;
    background-image:
      linear-gradient(
        #c0aeed, #f8efe8
      );
    cursor: pointer;
 }

 /* contact link hover state in dark mode */
 .dark-mode .contact:hover{
    background-color:#c0aeed;
    cursor: pointer;
 }

 .dark-mode .contact{
    background-color:#202124;
    cursor: pointer;
 }

 /* dark mode link hover state */
 .toggle:hover{
    background-color: #202124;
    color: white;
    cursor: pointer;
 }

  /* hover state to go back to light mode */    
  .dark-mode .toggle:hover{
    background-color: #f8efe8;
    color: black;
    cursor: pointer;
    /* find out how to change the text or symbol from light mode to dark mode */
 }


  /* stretches box 02 */
.item02 {
    grid-column-start: 3;  
    grid-column-end: 5;
  }

.item1 {
    grid-column-end: 6;
  }


/* puts day 2 second last  */
.item2 {
    grid-column-end: 7;
    
  }


/* day 9 on hover */
.item9:hover{
    background-color:#5e59c0;
    cursor: pointer;
 }

 /* day 9 on hover dark mode */
 .dark-mode .item9:hover{
    background-color:#5e59c0;
    cursor: pointer;
 }


/* day 10 on hover  */
.item10:hover{
    background-color:#ffa9da;
 }

 /* day 10 on hover dark mode*/
.dark-mode .item10:hover{
    background-color:#ffa9da;
    cursor: pointer;
 }

 /* day 11 on hover */
.item11:hover{
    background-color:#f6c425;
    cursor: pointer;
 }

 /* day 11 on hover dark mode */
.dark-mode .item11:hover{
    background-color:#f6c425;
    cursor: pointer;
 }
 

/* .marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  font-size: 36px;
  height: 46px;
  overflow-x: hidden;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 32s linear infinite;
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

body{
  margin: 0;
  padding: 0;
  font-family: "PPHatton";
  color: hsl(268, 100%, 83%);
}

.container{
  position: relative;
  width: 1200px;
  height: 0px;
  margin: 50px auto;

}

.container .box{
  position: relative;
  width: calc(400px - 30px);
  height: calc(300px - 30px);
  background: #000;
  float: left;
  margin: 15px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
}

.container .box .icon{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:rgb(121, 190, 156);
  transition: .5s;
  z-index: 1;
}

.container .box:hover .icon{
  top: 25px;
  left: 150px;
  width: 80px;
  height: 80px;
  border-radius: 50%;

}

.container .box .icon .fa{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.5s;
  color: #fff;
  opacity: 0.7;
}

.container .box:hover .icon .fa{
  font-size: 40px;
}

.container .box .content{
  position: absolute;
  top:100%;
  height: calc(100% - 100px);
  padding: 20px;
  box-sizing: border-box;
  transition: 0.5s;
  opacity: 0;
}

.container .box:hover .content{
  top: 100px;
  opacity: 0.7;
}

.container .box .content h3{
  margin: 0 0 10px;
  padding: 0;
  color: #fff;
  font-size: 24px;
}

.container .box .content p{
  margin: 0 0 10px;
  padding: 0;
  color: #fff;
}

.container .box:nth-child(1).icon
{
  background: pink;
}

.container .box:nth-child(1)
{
  background: rgb(202, 139, 163);
}
 */
